# Global + IDE Stuff
.DS_Store
.sass-cache
.settings/**
settings.xml
.project
/web.config
"Icon\r"
WEB-INF/**
*.cache.*
.idea
Icon?
# Logs
logs/**
tests/logs/**
tests/results/**
# Global Dependencies
testbox/*
node_modules/*
bower_components/*